body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0ff;
    
}

.top {
    width:100%;
    display: flex;
    flex-direction: column;
    position:fixed;
    top: 0;
    justify-content: center;
}

#anchors{
    width:100%;
    background-color:#3cB043;
    border-bottom:10px solid #2ea334;
    height:50px;
    align-items: center;
    display: flex;
    justify-content:center;
    padding: 5rem;
    top:1vh;
}

#anchors a {
    text-decoration: none; 
    color:white;
    border: 1px solid #fff;
    padding:10px;
    min-width:20%;
    text-align:center;
    margin-right: 4vw;
}

h3{
    font-weight: bold;
}
.top-area {
    display:flex;
    width:100%;
    background-color:#fefefe;
    padding:10px;
    border-bottom: 5px solid #BBB;
}

.logo {
    border: 1px solid #3961b6;
    background-image: "favicon\android-chrome-512x512.png";
    border-radius: 10px;
    width: 50px;
    height: 50px;
  
}

.left-section-top {
    display: flex;
    align-items: center;
    width: 50%;
}

.top-area h3 {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}

.right-section-top {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.right-section-top .profile {
    width: 50px;
    height: 50px;
    background: #3cB043;
    border-radius: 10px;
}

.middle-top {
    margin-top: 26px;
    background-color: rgba(127, 127, 110, 0.2);
    border-bottom: 10px solid rgba(127, 127, 110, 0.058);
    padding-left:0px;
    padding-right:0px;
    padding-top:10px;
}

.middle-top h3 {
    margin-left: 23px;
    font-family: 'Roboto', sans-serif;
}

.middle-top .map {
    width: 90%;
    height: 250px;
    border: 2.5px solid #6e4f16;
    border-radius: 7px;
    margin-top: 0;
}

.map-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-area {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 90%;
    height: 100%;
    border: 2.5px solid #8E7A7A;
    border-radius: 4px;
    padding: 0 20px;
}

#section1{
    position:block;
    margin-top:190px;
    margin-bottom:25px;
    padding:25px;
    padding-left:0px;
    padding-right:0px;
    background-color: rgba(46, 163, 52, 0.4);
    border-bottom:10px solid rgba(46, 163, 52, 0.5);
}

.recommended-area {
    /*border-top: 2px solid #8E7A7A;
    border-bottom: 2px solid #8E7A7A;*/
    height: 300px;
    display: flex;
    justify-content: center;
    
}

.recommended-card {
    border-radius: 8px;
    border: 6px solid #33270d;
    width: 93%;
    height: 100%;
    object-fit: cover;
}

.recommended-title {
    margin-top: 10px;
    margin-bottom:15px;
    margin-left: 22px;
    font-size:2em;
    font-family: 'Roboto Slab', serif;
}

@media only screen and (max-width: 600px) {
    
    #anchors a {
        text-decoration: none; 
        border: 1px solid #fff;
        padding:5px;
        width:90px;
        margin:5px;
        text-align:center;
        margin-right: 0px;
    }
  }