body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: center;
}

.top-area {
    border-bottom: 2px solid #000;
    display: flex;
    width: 81%;
    padding: 20px 20px;
}

.logo {
    border: 3px solid #000;
    background: #000;
    border-radius: 10px;
    width: 50px;
    height: 50px;
  
}

.left-section-top {
    display: flex;
    align-items: center;
    width: 50%;
}

.top-area h3 {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}

.right-section-top {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.right-section-top .profile {
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 10px;
}

.middle-top {
    margin-top: 26px;

}

.middle-top h3 {
    margin-left: 23px;
    font-family: 'Roboto', sans-serif;
}

.middle-top .map {
    width: 90%;
    height: 250px;
    border: 2.5px solid #000;
    border-radius: 7px;
    margin-top: 0;
}

.map-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-area {
    width: 100%;
    margin-top: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 80%;
    height: 100%;
    border: 2.5px solid #000;
    border-radius: 4px;
    padding: 0 20px;
}

.recommended-area {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 300px;
    display: flex;
    justify-content: center;
    background: #444;
}

.recommended-card {
    width: 93%;
    height: 100%;
    background: #eee;
}

.recommended-title {
    margin-top: 40px;
    margin-left: 22px;
    font-family: 'Roboto', sans-serif;
}